# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# Virtual Environment (Python)
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/

# Flask-specific files
instance/
*.sqlite3
*.db

# React / Node.js
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Dependency directories
node_modules/
bower_components/

# Environment variables
.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
*.swp

# Miscellaneous
*.bak
*.tmp
*.temp
*.sw?
